* {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

::placeholder {
    color: #ffffff;
}

form {
    padding: 3em;
    background-color: #5e0303;
    width: 20em;
    display: inline-block;
}

label {
    background-color: #5e0303;
    color: #ffffff;
}

h1 {
    text-shadow: 1px 1px #f27575;
}

p {
    font-size: 1.05em;
}

a {
    background-color:#b52828
}

.container {
    background-color: #b52828;
    padding: 2em;
    width: 35em;
    display: inline-block;
}

.second-background {
    background-color: #b52828;
    color: #000000;
    display: inline-block;
}
